<div>

    <div class="top-bar">
            <a href="#"> <img class="logo" src="http://www.psiog.com/logo.png">
            </a>
                 <div class="top-bar-title">PSIOG Digital - 3.0</div>
                 <div class="menu">
                     <div *ngIf = "theUser">
                     <ul>
                         <li class="nav-menu2"><a (click)="logout()">Logout</a></li>
                         <li class="nav-menu4">{{theUser}}</li>
                     </ul>
                    </div>
                 </div>
         </div>
    
    <div class="container">
        <div class="verticalNavBar">    
            <ul>
                    <!-- <li><a class="active" href="#home">Home</a></li> -->
                    <li><a [routerLink]="['/admin/change']">Change</a></li>
                    <li><a [routerLink]="['/admin/incidents']">Incidents</a></li>
                    <!-- <li><a [routerLink]="['/admin/release']">Release & Deployment</a></li> -->
                    <li><a [routerLink]="['/admin/Configuration']">Service request</a></li>
              <!-- <li><a  [routerLink]="['/admin/problem']">Problem</a></li>
              <li><a [routerLink]="['/admin/asset']">Asset</a></li> -->
                    <li><a (click)="logout()">Log out</a></li>
            </ul>
        </div>
</div>  